<%- include('partials/head', {title: "TP 4 Skill Factory NodeJS - Perfil"}); %>


<body>
  <main class="container">
    <div class="container">
      <h1 class="text-center">Perfil - Tinderjob</h1>
    </div>
    <div class="d-flex flex-column">
      <img src="<%= avatar %>" alt="profile picture" width="150px" height="150px" class="align-self-center border rounded-2"/>
      <h2 class="text-center"> <%= name %>  <%= surname %></h2>
      <h4 class="text-center"> <%= email %></h4>
    </div>
</body>